:root {
  /* スフィア        */
    --charno1 : url('../../images/me02.svg');
  /* 博士          */
    --charno2 : url('../../images/computer_screen_hakase.svg');
  /* インストラクター        */
    --charno3 : url('../../images/job_computer_technocrat.svg');
  /* ウサギPC      */
    --charno4 : url('../../images/pyoko_computer.svg');
  /* ペンギン      */
    --charno5 : url('../../images/computer_penguin.svg');
  /* 青い鳥      */
    --charno6 : url('../../images/bluebird_robot_bot.svg');
  /* ウサギスマホ     */
    --charno7 : url('../../images/pyoko_smartphone.svg');

}

/** 右側キャラ用1スタイル */
.right1{
  position: relative;
  display: block;
  margin: 24px 12px;
  margin-left: auto;
  margin-right: calc(50px + 15px);
  padding: 5px 15px;
  background-color: #fff6a8;
  color: #333;
  font-weight: bold;
  text-align: right;
  font-size: 15px;
}

.right1 p{
  display: inline-block;
  text-align: left;
}
  
.right1:after{
  content: "";
  position: absolute;
  
  top: 50%; left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 30px solid #fff6a8;
}

.right1:before{
  content: "";
  display: block;
  position: absolute;
  width: 50px; height: 50px;
  top: calc(50% - 25px);
  margin-left: calc(100% + 15px);

  background-image: var(--charno1);
  background-size: 50px;
  background-repeat: no-repeat;
}

/** 左側キャラ用1スタイル */
.left1{
  position: relative;
  display: block;
  margin: 24px 12px;
  margin-right: auto;
  margin-left: calc(50px + 15px);
  padding: 5px 15px;
  width: auto; height: auto;
  background-color: #adf;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
  
.left1:after{
  content: "";
  position: absolute;
  
  top: 50%; right: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 30px solid #adf;
}

.left1:before{
  content: "";
  position: absolute;
  width: 50px; height: 50px;
  top: calc(50% - 25px);
  left: 0;
  margin-left: calc(-50px + -30px);
  
  background-image: var(--charno1);
  background-size: 50px;
  background-repeat: no-repeat;
}


/** 右側キャラ用2スタイル */
.right2{
  position: relative;
  display: block;
  margin: 24px 12px;
  margin-left: auto;
  margin-right: calc(50px + 15px);
  padding: 5px 15px;
  background-color: #fff6a8;
  color: #333;
  font-weight: bold;
  text-align: right;
  font-size: 15px;
}

.right2 p{
  display: inline-block;
  text-align: left;
}
  
.right2:after{
  content: "";
  position: absolute;
  
  top: 50%; left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 30px solid #fff6a8;
}

.right2:before{
  content: "";
  display: block;
  position: absolute;
  width: 50px; height: 50px;
  top: calc(50% - 25px);
  margin-left: calc(100% + 15px);

  background-image: var(--charno2);
  background-size: 50px;
  background-repeat: no-repeat;
}

/** 左側キャラ用2スタイル */
.left2{
  position: relative;
  display: block;
  margin: 24px 12px;
  margin-right: auto;
  margin-left: calc(50px + 15px);
  padding: 5px 15px;
  width: auto; height: auto;
  background-color: #adf;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
  
.left2:after{
  content: "";
  position: absolute;
  
  top: 50%; right: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 30px solid #adf;
}

.left2:before{
  content: "";
  position: absolute;
  width: 50px; height: 50px;
  top: calc(50% - 25px);
  left: 0;
  margin-left: calc(-50px + -30px);
  
  background-image: var(--charno2);
  background-size: 50px;
  background-repeat: no-repeat;
}

/** 右側キャラ用3スタイル */
.right3{
  position: relative;
  display: block;
  margin: 24px 12px;
  margin-left: auto;
  margin-right: calc(50px + 15px);
  padding: 5px 15px;
  background-color: #fff6a8;
  color: #333;
  font-weight: bold;
  text-align: right;
  font-size: 15px;
}

.right3 p{
  display: inline-block;
  text-align: left;
}
  
.right3:after{
  content: "";
  position: absolute;
  
  top: 50%; left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 30px solid #fff6a8;
}

.right3:before{
  content: "";
  display: block;
  position: absolute;
  width: 50px; height: 50px;
  top: calc(50% - 25px);
  margin-left: calc(100% + 15px);

  background-image: var(--charno3);
  background-size: 50px;
  background-repeat: no-repeat;
}

/** 左側キャラ用3スタイル */
.left3{
  position: relative;
  display: block;
  margin: 24px 12px;
  margin-right: auto;
  margin-left: calc(50px + 15px);
  padding: 5px 15px;
  width: auto; height: auto;
  background-color: #adf;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
  
.left3:after{
  content: "";
  position: absolute;
  
  top: 50%; right: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 30px solid #adf;
}

.left3:before{
  content: "";
  position: absolute;
  width: 50px; height: 50px;
  top: calc(50% - 25px);
  left: 0;
  margin-left: calc(-50px + -30px);
  
  background-image: var(--charno3);
  background-size: 50px;
  background-repeat: no-repeat;
}




/** 左側キャラ用4スタイル */
.left4{
  position: relative;
  display: block;
  margin: 24px 12px;
  margin-right: auto;
  margin-left: calc(50px + 15px);
  padding: 5px 15px;
  width: auto; height: auto;
  background-color: #adf;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
  
.left4:after{
  content: "";
  position: absolute;
  
  top: 50%; right: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 30px solid #adf;
}

.left4:before{
  content: "";
  position: absolute;
  width: 50px; height: 50px;
  top: calc(50% - 25px);
  left: 0;
  margin-left: calc(-50px + -30px);
  
  background-image: var(--charno4);
  background-size: 50px;
  background-repeat: no-repeat;
}




/** 左側キャラ用5スタイル */
.left5{
  position: relative;
  display: block;
  margin: 24px 12px;
  margin-right: auto;
  margin-left: calc(50px + 15px);
  padding: 5px 15px;
  width: auto; height: auto;
  background-color: #adf;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
  
.left5:after{
  content: "";
  position: absolute;
  
  top: 50%; right: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 30px solid #adf;
}

.left5:before{
  content: "";
  position: absolute;
  width: 50px; height: 50px;
  top: calc(50% - 25px);
  left: 0;
  margin-left: calc(-50px + -30px);
  
  background-image: var(--charno5);
  background-size: 50px;
  background-repeat: no-repeat;
}



/** 左側キャラ用6スタイル */
.left6{
  position: relative;
  display: block;
  margin: 24px 12px;
  margin-right: auto;
  margin-left: calc(50px + 15px);
  padding: 5px 15px;
  width: auto; height: auto;
  background-color: #adf;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
  
.left6:after{
  content: "";
  position: absolute;
  
  top: 50%; right: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 30px solid #adf;
}

.left6:before{
  content: "";
  position: absolute;
  width: 50px; height: 50px;
  top: calc(50% - 25px);
  left: 0;
  margin-left: calc(-50px + -30px);
  
  background-image: var(--charno6);
  background-size: 50px;
  background-repeat: no-repeat;
}

/** 左側キャラ用7スタイル */
.left7{
  position: relative;
  display: block;
  margin: 24px 12px;
  margin-right: auto;
  margin-left: calc(50px + 15px);
  padding: 5px 15px;
  width: auto; height: auto;
  background-color: #adf;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
  
.left7:after{
  content: "";
  position: absolute;
  
  top: 50%; right: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 30px solid #adf;
}

.left7:before{
  content: "";
  position: absolute;
  width: 50px; height: 50px;
  top: calc(50% - 25px);
  left: 0;
  margin-left: calc(-50px + -30px);
  
  background-image: var(--charno7);
  background-size: 50px;
  background-repeat: no-repeat;
}


/***********************************************
以下は見出し項目のデザイン調整
************************************************/


 /* 目次部分に影を追加 */
.toc-title {
  box-shadow: 2px 2px 4px #ccc;
  padding-bottom: 0.3em;
}
/* チェックボックスを非表示 */
.toc-check {
  display: none;
}
/* ラベル部分の修飾 */
.toc-label {
  background: #3F9FBF;
  color: #fff;
  display: flex;
  margin-top: 0.5em;
  padding: 6px 6px 0 12px;
  height: 36px;
}
/* チェックボックスにチェックが入っていない（メニュー表示）状態の修飾 */
.toc-chapter {
  height: auto;
  opacity: 1;
  padding: 0 10px;
  margin-left: 1.5em;
  transition: 0.5s;
  visibility: visible;
  font-size: 0.9rem;
}
/* メニュー表示時のアイコン */
.toc-label:after{
  content: '\f106';
  display: block;
  font-family: FontAwesome;
  font-weight: 900;
  padding: 0 0 0 20px;
}
/* チェックボックスにチェックが入った（メニュー非表示）状態の修飾 */
.toc-check:checked ~ .toc-chapter {
  height: 0;
  opacity: 0;
  padding: 0 10px;
  visibility: hidden;
}
/* メニュー非表示時のアイコン */
.toc-check:checked ~ .toc-label:after {
  content: '\f107';
  display: block;
  font-family: FontAwesome;
  font-weight: 900;
  padding: 0 0 0 20px;
}
/* メニューの修飾 */
#TableOfContents > ul > li > ul{
  display: block;
  text-align: left;
  list-style-type: disc;
}
#TableOfContents > ul > li > ul > li > ul{
  padding-left: 0.75em;
  list-style-type: circle;
}
/***********************************************
以下は見出し項目のデザイン調整
************************************************/


/*↓画像の配置*/
/*「![](URL#center)」と指定して使う*/
/*画像の中央寄せ*/
img[src*="#center"] {
  display: block;
  margin: auto;
}
/*画像の右寄せ、文字の回り込み*/
img[src*="#right"] {
  float: right;
  margin: 0 0 1em 1em;
}
/*画像の左寄せ、文字の回り込み*/
img[src*="#left"] {
  float: left;
  margin: 0 1em 1em 0;
}
/*↑画像の配置*/
