          <a id="logo"
            href="{{ .Site.Params.landingPageURL | default "/" | relLangURL }}"
            style="
              color: #3d414d;
              font-family: 'Novacento Sans Wide', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
              font-size: 30px;
              font-weight: bold;
              margin-top: -2px;
            ">
<svg
   viewBox="0 0 64.044 64.044"
   version="1.1"
   id="svg45"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs49" />
  <text
     xml:space="preserve"
     style="font-style:italic;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:26.9756px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold Italic';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ffff00;fill-opacity:1;stroke:none;stroke-width:0.674393"
     x="1.3459498"
     y="23.252346"
     id="text5227"
     transform="scale(0.8537013,1.1713699)"><tspan
       x="1.3459498"
       y="23.252346"
       id="tspan5229"
       style="font-style:italic;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:26.9756px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold Italic';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ffff00;stroke-width:0.674393">wifi</tspan></text>
  <text
     xml:space="preserve"
     style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:24.1455px;line-height:1.25;font-family:'ＪＳ平成明朝体W3';-inkscape-font-specification:'ＪＳ平成明朝体W3, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.501713"
     x="1.4919786"
     y="48.558414"
     id="text13362"
     transform="scale(0.87691669,1.1403592)"><tspan
       id="tspan13360"
       x="1.4919786"
       y="48.558414"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:24.1455px;font-family:'ＪＳ平成明朝体W3';-inkscape-font-specification:'ＪＳ平成明朝体W3, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.501713">寺子屋</tspan></text>
</svg>俯瞰的表現</a>